@model IList<DepartmentInfoViewModel>;
@{
    ViewData["Title"] = "Departments";
}

<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Number of employees</th>
            <th>Total salary</th>
            <th>Average salary</th>
            <th>Maximum salary</th>
            <th>Minimum salary</th>
        </tr>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.Name</td>
                <td>@department.EmployeeCount</td>
                <td>@department.SumSalary</td>
                <td>@department.AvgSalary</td>
                <td>@department.MaxSalary</td>
                <td>@department.MinSalary</td>
                <td>
                    <form asp-action="Get" asp-controller="Department" method="post">
                        <input name="Id" value="@department.Id" hidden>
                        <input type="submit" value="Details">
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
